# Dependencias (esta es la más pesada, ¡nunca la subas!)
node_modules/

# Archivos de compilación
dist/
build/

# Variables de entorno (seguridad)
.env
.env.local

# Archivos del sistema y logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store